/* main circle button styles */
.circle-btn {
    position: relative;
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    margin: 0px auto;
    color: #E03926;
    font-weight: 600;
    transition: color .2s;
    cursor: pointer;
}
.circle-btn svg {
    width: 229px;
    height: 229px;
}
.circle-btn a:hover {
    color: #fff;
}

.circle-btn:hover {
    color: #fff;
}

.circle-btn:active {
    color: #fff;
}
.circle-btn:active .circle-btn__circle {
    stroke-width: 2px;
}

.circle-btn__btn {
    color: inherit;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: inherit;
    line-height: 130%;
    white-space: nowrap;
    background: none;

    position: absolute;
    right: 114px;
}

.circle-btn__arrow {
    content: url('../images/btn_arrow.svg');
    width: 100.864px;

    position: absolute;
    top: 136px;
    right: 114px;
}


@media (max-width: 992px) {
    .circle-btn {
        width: 105px;
        height: 108px;
    }
    .circle-btn svg {
        width: 105px;
        height: 109px;
    }    
    .circle-btn__svg path {
        stroke-width: 1.5px;
    }
    .circle-btn__btn {
        font-size: 14px;
    }
    .circle-btn__circle {
        position: absolute;
        left: 0;
        right: 0;
    }    
    .circle-btn__arrow {
        width: 47px;
    }
}

/* title style ------------------ */
.title {
    display: flex;
    flex-direction: column;
    position: relative;
}

.title__line {
    width: 1087px;
    height: 1px;
    flex-shrink: 0;
    position: absolute;
    top: 45%;
    background: #E03926;
}

.title__line::before {
    content: url('../images/title_dot.svg');
    width: 8.945px;
    height: 9px;
    position: absolute;
    left: 25px;
    top: -9px;
}

.title h2 {
    color: #FFF;
    text-align: right;
    font-family: Old Standard TT;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    align-self: flex-end;
    padding-right: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}
@media (max-width: 992px) {
    .title {
        padding-left: 15px;
    }
    .title h2 {
        font-size: 32px;
        padding-right: 15px;
    }
    .title__line {
        width: calc(100% - 136px);
    }
    .popular__title {
        margin-bottom: 20px;
    }
}

/* carousel styles ----------- */

.carousel {
    width: 1340px;
}

.carousel__gallery {
    width: 1340px;  
    overflow: hidden;
}

.carousel__gallery ul {
    display: flex;
    padding-left: 0;
}

.carousel__gallery img {
    border: 1px solid rgba(255, 255, 255, 0.30);
}

.carousel__img {
    display: block;
}

.carousel__slider {
    display: flex;
}

.slider__line {
    align-self: center;
    background: rgba(255, 255, 255, 0.50);
}

.slider__line_position {
    width: 80px;
    height: 1px;
    background: #E03926;    
}