.recepies__main {
    margin-bottom: 180px;
}
.recepies__main .recipe__button {
    display: none;
}

.recepies__content_images {
    padding-left: 20px;
    position: relative;
    width: 100%;    
}
.recepies__content_images::before {
    content: '';
    display: block;
    width: 1px;
    height: calc(100% - 40px);
    background-color: rgba(255, 255, 255, 0.50);
    position: absolute;
    left: 0;
}

.recepies__content_images::after {
    content: '';
    clear: both;
    display: block;
}

.recepies__content_img {
    margin-bottom: 40px;
    width: calc(100% / 2 - 10px);
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.recepies__content_img:nth-child(2n) {
    float: left;
    position: relative;
    height: 300px;
}
.recepies__content_img:nth-child(2n + 1) {
    float: right;
    height: 300px;
}
/* линии между рядами */
.recepies__content_img:nth-child(2n)::before {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: calc(200% + 20px);
    background: rgba(255, 255, 255, 0.50);
    top: -20px;
}
.recepies__content_img:first-of-type {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 100%;
}
.recepies__content_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    .recipie__title .title__line {
        width: calc(100% - 150px);
    }
    .recepies__main {
        margin-bottom: 0px;
    }
    .recepies__main .recipe__button {
        display: block;
    }
    .recepies__content_images {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .recepies__content_img:nth-child(2n) {
        height: 111px;
    }
    .recepies__content_img:nth-child(2n + 1) {
        height: 111px;
    }
    .recepies__content_img:first-of-type {
        width: 100%;
        height: 100%;
        max-height: 222px;
        max-width: 100%;
        overflow: hidden;
    }
    .recepies__content_img img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 700px) {
    .recepies__content_images {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}