.recepies__main {
    margin-bottom: 180px;
}
.recepies__main .recipe__button {
    display: none;
}

.recepies__content_images {
    padding-left: 20px;
    position: relative;
    width: 100%;
}
.recepies__content_images::before {
    content: '';
    display: block;
    width: 1px;
    height: calc(100% - 23px);
    background-color: rgba(255, 255, 255, 0.50);
    position: absolute;
    left: 0;
}

.recepies__content_images::after {
    content: '';
    clear: both;
    display: block;
}

.recepies__content_img {
    margin-bottom: 20px;
    width: calc(100% / 2 - 10px);
    display: inline-block;
}
.recepies__content_img:first-of-type {
    display: block;
    width: 100%;
    max-width: 100%;
}
.recepies__content_img:nth-child(2n) {
    float: left;
}
.recepies__content_img:nth-child(2n + 1) {
    float: right;
}
.recepies__content_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    .recipie__title .title__line {
        width: calc(100% - 150px);
    }
    .recepies__main {
        margin-bottom: 0px;
    }
    .recepies__main .recipe__button {
        display: block;
    }
    .recepies__content_img img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}