@import url('./reset.css');
@import url('./common.css');
@import url('./basket.css');
@import url('./recipe.css');

html, body {
    height: 100%;
    line-height: 100%;
}

body {
    font-family: Mulish;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.70);
    line-height: 18px;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;

    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 95%),
   url('../images/main_bg.jfif') repeat-y;
   background-position: 0 600px;
   background-size: 100% auto;
}

.main {
    flex: 1 1 auto;  
    width: 100%;
}

[class*="__container"] {
    max-width: 1330px;
    margin: 0px auto;
    padding: 0 15px;
}
@media (max-width: 992px) {
    [class*="__container"] {
        max-width: 1300px;
    }
}
/* Header ------------------------------------------------------------------------------- */

.header {
    width: 100%;
    background-color: #000;
}
.header__container {
    position: relative;
}
/* Иконки над меню */
.tools { 
    margin: 5px 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__tools_small {
    display: none;
}
/* иконка трубки */
.tools__telephone {
    position: relative;
}
/* поповер с телефонами */
.tools__numbers {
    width: 294px;
    height: 173px;
    border: 1.5px solid #FFF;
    background: #000;
    position: absolute;
    top: 0px;
    left: 43px;
}

.tools__numbers span {
    position: relative;
    top: 10px;
    left: 274px;
    color: #FFF;
    font-family: Mulish;
    font-size: 14.31px;
    font-style: normal;
    font-weight: 400;
    cursor: default;
}

.tools__numbers span:hover {
    cursor: pointer;
}

.tools__numbers_text {
    color: #FFF;
    font-family: Mulish;
    font-size: 19.08px;
    font-weight: 600;
    width: 193px;
    margin: 18px 0 19px 54px;

}

.tools__numbers_content {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    margin-left: 54px;
}

/* значок корзины */
.tools__basket_active {
    position: relative;
}

.tools__basket_active::after {
    position: absolute;
    content: url('../images/Ellipse.svg');;
    width: 12px;
    height: 10.88px;
    top: -3px;
    right: -5px;
}

.tools__svg-path {
    transition: all .2s ease-in;
}

.tools__svg:hover {
    cursor: pointer;
}

.tools__svg:hover .tools__svg-path {
    fill:#E03926;
}

/* глваное меню */
.header__social,
.header__numbers_small,
.menu_close {
    display: none;
}
.menu__list {
    display: flex;
    justify-content: stretch;
    padding-left: 0;
}

.menu__item {
    flex-grow: 1;
    padding-top: 15px;
    padding-bottom: 16px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    text-align: center;
}

.menu__link {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all .3s;    
}

.menu__link:hover {
    color: #E03926;
}

.header img {
    width: 162px;
    height: 92px;
    flex-shrink: 0;
}
.header__social{
    margin-bottom: 30px;
}
.header__social .contacts__img_social{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.header__numbers_small {
    font-size: 9px;
    margin: 0;
}

@media (max-width: 992px) {
    .header__social,
    .header__numbers_small,
    .menu_close {
        display: block;
    }    
    .header__menu {
        width: 197px;        
        border: 1px solid #FFF;
        background: #000;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        position: absolute;
        z-index: 3;
        left: -100%;
        top: 0;
        transition: all .5s;
    }
    .header__menu.active {
        left: -5px;
    }
    .menu_close {
        position: absolute;
        padding: 10px;
        top: 2px;
        right: 10px;
        user-select: none;
    }
    .menu__list {
        display: block;
    }
    .menu__item {
        border: none;
        text-align: left;
        padding-top: 0;
        padding-bottom: 10px;
    }
    .menu__item:last-child {
        padding-bottom: 0;
    }
    .header__tools {
        display: none;
    }
    .header__tools_small {
        display: flex;
        justify-content: space-between;
        margin: 10px 15px 0;
        padding-bottom: 27px;
    }
    .menu_burger {
        position: relative;
        width: 30px;
        height: 20px;
        top: 8px;
        left: -10;
    }     
    .menu_burger span {
        position: absolute;
        background-color: #fff;
        width: 30px;
        height: 1px;
        top: 9px;
    }
    .menu_burger::after,
    .menu_burger::before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 30px;
        height: 1px;
    }
    .menu_burger::before {
        top: 0;
    }
    .menu_burger::after {
        top: 18px;
    }    
    .tools__logo {
        position: relative;
        left: 15px;
    }
    .tools__logo img {
        width: 80px;
        height: 45px;
        padding-left: 30px;
    }
    .tools__small_logos {
        padding-top: 3px;
    }
    .tools__small_logos div {
        display: inline-block;
    }
}

/* main ------------------------------------------------------------------------------ */

.intro {
    margin-bottom: 160px;
    padding-top: 160px;
    background-image: url('../images/crab_main_bg.png');
    background-size: 1089px 712px;
    background-position: 60% 0%;
    background-repeat: no-repeat;
}

.intro__title {
    width: 646px;
    margin-left: 30px;
    margin-bottom: 30px; 
    color: #FFF;
    font-family: Old Standard TT;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: 110.5%;       
}

.intro__text {
    width: 389.473px;
    margin-left: 25px;  
    color: rgba(255, 255, 255, 0.70);
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.intro__button {
    text-align: center;
}

@media (max-width: 992px) {
    .intro {
        padding-top: 54px;
        background-size: 655px 427px;
        background-position: 0% 0%;
        margin-bottom: 100px;
    }
    .intro__title {
        font-size: 48px;
        margin-bottom: 25px;
    }
    .intro__text {
        font-size: 12px;
        margin-bottom: 30px;
    }
    .intro__button .circle-btn__btn {
        top: 35px;
        left: -55px;
    }
    .intro__button .circle-btn__arrow {
        top: 59px;
        left: 5px;
    }
}

/* about ------------------------------------------------------------------------------ */
.about{
    width: 100%;
}
.about__title {
    margin-bottom: 60px;
}
.about__title .title__line {
    width: calc(100% - 207px);
}
.about__content {
    display: flex;
    padding-left: 30px;
    margin-bottom: 76px;
}
.about__content p {
    max-width: 704px;
    margin-left: 127px;
    color: rgba(255, 255, 255, 0.70);
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
}

.about__carousel .carousel__gallery {
    margin-bottom: 16px;
}

.about__carousel .carousel__gallery li {
    margin-right: 20px;
}

.about__carousel .carousel__img {
    width: 830px;
    height: 420px;       
}

.about__carousel .carousel__slider {
    margin-bottom: 160px;
}

.slider__counter {
    margin-right: 29px;
}

.slider__line {
    width: 770px;
    height: 1px;    
}

@media (max-width: 992px) {
    .about__content {
        display: block;
        text-align: left;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .about__title {
        margin-bottom: 40px;
    }
    .about__title .title__line {
        width: calc(100% - 126px);
    }
    .about__content h3 {
        text-align: left;
        margin-bottom: 20px;
    }
    .about__content p {
        font-size: 12px;
        text-align: left;
        margin-left: 0;
        margin-bottom: 15px;
        min-width: 314px;
    }

    .about__carousel .carousel__gallery {
        margin-left: 30px;
        margin-bottom: 5px;
    }
    .about__carousel .carousel__gallery li {
        margin-right: 6px;
    }
    .about__carousel .carousel__img {
        width: 250px;
        height: 128px;       
    }
    .slider__counter {
        margin-left: 30px;
        margin-right: 4px;
    }
    .slider__line {
        width: 289px;    
    }
    .about__carousel .carousel__slider {
        margin-bottom: 104px;
        width: 100%;
    }
}

/* popular ------------------------------------------------------------------------------ */

.popular  {
    margin-bottom: 160px;
}

.popular__title {
    margin-bottom: 40px;
}

.popular__title .title__line {
    width: calc(100% - 390px);
}

.popular__carousel .carousel__card {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.popular__carousel .carousel__img {
    width: 420px;
    height: 500px;
    margin-bottom: 33px;
}

.card__name {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
    margin-bottom: 40px;
}

.card__btn {
    width: 170px;
    height: 40px;
    align-self: center;
    color: #000;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 100px;
}

.card__btn svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.card__btn:hover {
    color: #E03926;
}

.card__btn:hover path {
    fill: #E03926;
}

.card__btn:active {
    color: #fff;
    background: #E03926;
}

.card__btn:active path {
    fill: #fff;
}

.popular__carousel .slider__line {
    margin: 0 auto;
    width: 500px;
}
@media (max-width: 992px) {
    .popular  {
        margin-bottom: 101px;
    }
    .popular__title .title__line {
        width: calc(100% - 220px);
    }
    .popular__title {
        margin-bottom: 20px;
    }
    .popular__carousel .carousel__card {
        margin-right: 20px;
    }
    .popular__carousel .carousel__img {
        width: 210px;
        height: 250px;
        margin-bottom: 15px;
    }
    .card__name {
        font-size: 11px;
        margin-bottom: 20px;
    }
    .card__btn {
        width: 85px;
        height: 20px;
        font-size: 8px;
        margin-bottom: 0; 
    }
    .card__btn svg {
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
    .popular__carousel .carousel__slider {
        display: none;
    }
}
/* catalog styles---------------------------------------------------------------------- */

.catalog__title .title__line {
    width: calc(100% - 280px);
}

.catalog__shop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.shop__card {
    max-width: 420px;
    height: 578px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 60px;
}

.shop__card_img {
    margin-bottom: 41px;
}

.shop__card_img img {
    max-width: 418px;
    height: 342px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
}

.shop__card_content {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 21px;
}

.shop__card_title {
    color: #FFF;
    font-family: Mulish;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
}

.shop__card_text {
    width: 360px;
    height: 82px;
    color: rgba(255, 255, 255, 0.70);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
}

.shop__card_price {
    display: flex;
    justify-content: space-between;
}

.shop__card_price span {
    color: #FFF;
    font-family: Mulish;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
}

.shop__card_price button {
    width: 170px;
    height: 40px;
}

.catalog__button {
    margin-bottom: 160px;
}

@media (max-width: 992px) {
    .catalog__title .title__line {
        width: calc(100% - 155px);
    }
    .catalog__title {
        margin-bottom: 20px;
    }
    .catalog__shop {
        padding: 0 15px;
        margin-bottom: 20px;
    }
    .shop__card {
        width: 151px;
        height: 208px;
        border: 1px solid rgba(255, 255, 255, 0.50);
        margin-bottom: 20px;
    }
    .shop__card_img {
        margin-bottom: 14px;
    }
    .shop__card_img img {
        width: 149px;
        height: 123px;
    }
    .shop__card_content {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0;
    }
    .shop__card_title {
        font-size: 9px;
    }
    .shop__card_text {
        display: none;
    }
    .shop__card_price span {
        font-size: 7.92px;
    }
    .shop__card_price button {
        width: 61px;
        height: 15px;
    }
    .catalog__button {
        margin-bottom: 100px;
    }
    .catalog__button .circle-btn__btn {
        top: 37px;
        left: -37px;
    }
    .catalog__button .circle-btn__arrow {
        top: 61px;
        left: 5px;
    }
}
/* recipe styles ---------------------------------------------------------------------- */

.recipe__title .title__line {
    width: calc(100% - 295px);
}

.recipe__title {
    margin-bottom: 40px;
}

.recipe__content {
    display: flex;
    margin-bottom: 80px;
}

.recipe__content_text {
    width: 334px;
    margin-left: 30px;
    margin-right: 74px;
}

.recipe__content_images {
    padding-left: 20px;
    max-width: 831px;
    border-left: 1px solid rgba(255, 255, 255, 0.50);
}

.recipe__content_row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 20px;
}

.recipe__content_row:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.recipe__content_img img {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.30);
    object-fit: contain;
}

.recipe__button {
    margin-bottom: 260px;
}

@media (max-width: 992px) {
    .recipe__container {
        margin: 0 15px;
    }
    .recipe__title .title__line {
        width: calc(100% - 165px);
    }
    .recipe__content {
        display: block;
        margin-bottom: 40px;
    }
    .recipe__content_text {
        margin-bottom: 40px;
    }
    .recipe__content_images {
        padding-left: 7px;
        text-align: center;
        max-width: 320px;
        margin: 0 auto;
    }
    .recipe__content_row {        
        display: inline-block;        
        padding-bottom: 7px;
        margin-bottom: 7px;
    }
    .recipe__content_img {
        display: inline-block;
    }
    .recipe__content_images img {
        width: 152px;
        height: 111px;
    }
    .recipe__content_row:first-child img {
        width: 307px;
        height: 155px;
    }
    .recipe__button .circle-btn__btn {
        top: 40px;
        left: -30px;
    }
    .recipe__button .circle-btn__arrow {
        top: 60px;
        left: 10px;
    }
    .recipe__button {
        margin-bottom: 100px;
    }
}
/* footer ----------------------------------------------------------------------------- */

.footer {
    width: 100%;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

}

.footer__contacts_small {
    display: none;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;    
}

.footer__line_horizont {
    width: 430px;
    height: 1px;
    flex-shrink: 0;
    background: #FFF;
    margin-bottom: 79px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.footer__logos {
    margin-top: -65px;
}

.contacts__social {
    margin-bottom: 50px;
}

.contacts__img_crab {
    width: 218px;
    height: 123.802px;
    margin-bottom: 30px;
}

.contacts__img_social {
    width: 30px;
    height: 30px;
}

.footer__line__vertical {
    width: 1px;
    height: 50px;
    flex-shrink: 0;
    background: #D9D9D9;
}

.footer__phones p {
    align-self: start;
}

.footer__callback {
    width: 439px;
    margin: 0 auto;
}

.callback__title {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 60px;
}

.callback__form {
    color: rgba(255, 255, 255, 0.70);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    display: flex;
    flex-direction: column;
}

.callback__inputs {
    display: inline-block;
    margin-bottom: 1px solid #fff;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.callback__inputs input {
    width: 210px;
}

.callback__btn {
    width: 439px;
    height: 50px;
    margin-bottom: 153px;
}

@media (max-width: 992px) {
    .footer {
        font-size: 14px;
    }
    .footer__contacts {
        display: none;
    }
    .footer__contacts_small {
        display: block;
        color: #FFF;
        font-family: Mulish;
        font-size: 14px;
        font-weight: 600;
        line-height: 130%;
    }
    .footer__crab_small {
        text-align: center;
        position: relative;
    }
    .footer__contacts_small .contacts__img_crab {
        width: 80px;
        height: 45px;
        margin-bottom: 50px;       
    }
    .footer__crab_small::before {
        content: '';
        display: block;
        height: 1px;
        width: calc(60vw - 80px);
        background: rgba(255, 255, 255, 0.40);
        position: absolute;
        top: 23px;
        left: -10%;        
    }
    .footer__crab_small::after {
        content: '';
        display: block;
        height: 1px;
        width: calc(60vw - 80px);
        background: rgba(255, 255, 255, 0.40);
        position: absolute;
        top: 23px;
        right: -10%;
    }
    .contacts__address_small {
        margin-bottom: 20px;
        margin-left: 51px;
    }
    .contacts__numbers_small {
        margin-left: 51px;
        margin-bottom: 40px;
    }
    .contacts__social {
        text-align: center;
    }
    .footer__callback {
        width: 315px;
    }
    .callback__title {
        font-size: 14px;
        text-align: left;
        padding-left: 21px;
        padding-top: 40px;
        margin-bottom: 40px;
        position: relative;
    }
    
    /* элемент в макете вне контейнера, 
    поэтому border тут не работает */
    .callback__title::before {
        content: '';
        display: block;
        width: 2000px;
        height: 1px;
        background: rgba(255, 255, 255, 0.40);
        position: absolute;
        top: 0px;
        left: -500px;
    }
    .callback__inputs {
        display: block;
        margin-bottom: 0;
    }
    .callback__inputs input {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        padding-bottom: 0;
    }
    .callback__btn {
        width: 315px;
        height: 40px;
        margin-bottom: 39px;
    }
}